<div class="landing-page">
  <div class="left-panel">
    <div>
      <!-- <p class="promo_blue">Over 2000 tutorial hrs and
        <br />25 years of teaching experience</p> -->

      <div class="promo">
        <h2>Tutorials are 1 on 1</h2>
      </div>
      <p>Please Download Zoom <a>https://zoom.us/download</a></p>
      <div class="self-autonomous">
        <p>For self-autonomous learners, please click and see a study guides below:</p>
        <div class="amazon-link">

          <a target="_blank"
            href="https://www.amazon.com/PTE-Writing-Working-through-writing-ebook/dp/B07YVMJJ73/ref=sr_1_1?dchild=1&keywords=mjg+education&qid=1585987574&sr=8-1">
            <img src="assets/img/51XOUT2-lSL.jpg" />
          </a>

          <a href="https://www.amazon.com/Complete-PTE-Speaking-Listening-Reading-ebook/dp/B084GTD7K8/ref=sr_1_3?dchild=1&keywords=mjg+education&qid=1585987574&sr=8-3"
            target="_blank"><img src="assets/img/41LY6glLS2L.jpg" /></a>
        </div>
        <br />

        <a target="_blank" class="link-with-icon" mailto="matmjgeducation@gmail.com">
          <svg class="bi bi-envelope-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M.05 3.555L8 8.414l7.95-4.859A2 2 0 0014 2H2A2 2 0 00.05 3.555zM16 4.697l-5.875 3.59L16 11.743V4.697zm-.168 8.108L9.157 8.879 8 9.586l-1.157-.707-6.675 3.926A2 2 0 002 14h12a2 2 0 001.832-1.195zM0 11.743l5.875-3.456L0 4.697v7.046z" />
          </svg> matmjgeducation@gmail.com
        </a>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <p class="main-para">This website is dedicated to students of English, especially those pursuing accreditations for
      the <b>IELTS</b>, <b>PTE</b> and <b>CELPIP</b> exams. Owned and run by English teachers with over
      2000 tutorial hours and 25 years teaching and several years experience as an IELTS examiner.</p>
    <p>Tutorial are 55 to 60 minutes CAD 45.00 + GS given by Expert tutors.</p>
    <p>Also, 15-20 minute Speaking Mock Tests CAD 17.50 with a complete IELTS descriptor break down and commentary of
      your performance (in person and emailed) are also offered..</p>


    <div class="course-container">
      <div class="pte-content">
        <app-pte-content></app-pte-content>

      </div>
      <div class="ielts-content">
        <app-ielts-content></app-ielts-content>
      </div>
    </div>
    <!-- 
    <mat-tab-group class="landing-tabs" disableRipple>
      <mat-tab label="IELTS">
      </mat-tab>
      <mat-tab label="PTE">
      </mat-tab>
    </mat-tab-group> -->
  </div>
</div>