<div class="landing-page">
  <div class="left-panel">
    <div>
      <p class="promo_blue">Over 2000 tutorial hrs and
        <br />25 years of teaching experience</p>

      <div class="promo_red">
        <p>Tutorials are
          <span class="text-align-center">1 on 1</span>
          <span class="text-align-right">XXX.XX for XX minutes</span></p>
      </div>
      <div class="self-autonomous">
        <p>For self-autonomous users please see our collection of texts for the PTE and IELTS in
          amazon.in</p>
        <a class="link-with-icon" mailto="matmjgeducation@gmail.com">
          <mat-icon aria-hidden="false" aria-label="email">email</mat-icon> matmjgeducation@gmail.com
        </a>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <p class="main-para">This website is dedicated to students of English, especially those pursuing accreditations for
      the
      <span class="red-highlight"><b>IELTS</b></span>, <span class="red-highlight"><b>PTE</b></span> and <span
        class="red-highlight"><b>CELPIP</b></span> exams. Owned and run by English
      teachers with over
      2000 tutorial hours and 25 years
      teaching and
      several years experience as an IELTS examiner.</p>

    <mat-tab-group class="landing-tabs" disableRipple>
      <mat-tab label="IELTS">
        <app-ielts-content></app-ielts-content>
      </mat-tab>
      <mat-tab label="PTE">
        <app-pte-content></app-pte-content>
      </mat-tab>
      <mat-tab label="CELPIP">
        <app-celpip-content></app-celpip-content>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>