@import 'src/variable';

.landing-page {display: flex; padding-top: 20px;}

.left-panel > div {
  width: 420px;
  margin-right: 73px
}

.right-panel {
  flex: 100%;
  .main-para {
    padding: 0 70px 0 0;
  }
}

p.promo_blue {
  font-size: 28px;
  color: $blue;
  font-weight: bold;
  padding: 0 ;
  margin: 15px 0 ;
  line-height: 1.8em;
}

.promo_red {
  margin-top: 30px;
  p {
   font-size: 30px;
   color: $red;
   font-weight: bold;
   span {display: block;}
  }
}

div.self-autonomous {
  margin-top: 50px;
  background: #fff;
  border: 1px solid $blue;
  padding: 20px;
  border-radius: 30px;
  p {
    margin: 0 0 20px 0;
  }
}