@import 'src/variable';

.landing-page {display: flex; padding-top: 20px;}

.left-panel > div {
  width: 420px;
  margin-right: 73px
}

.right-panel {
  padding-top: 10px;
  flex: 100%;
  .main-para {
    padding: 0 70px 0 0;
    margin-bottom: 30px;
  }
}

.promo_red {
  margin-top: 0px;
  p {
   font-size: 30px;
  //  color: $red;
   font-weight: bold;
   span {display: block;}
  }
}

div.self-autonomous {
  p {
    margin: 0 0 20px 0;
  }
}