<h2 class="section-title">PTE</h2>
<p>Choose any 3 tasks of the 20 offered on the exam</p>

<h4>Speaking:</h4>
<p>Describe Image, Retell Lecture, Read Aloud, Repeat Sentence, Answer Short Question.</p>

<h4>Reading:</h4>
<p>Reading Writing Fillin the Blanks, Fill in the Blanks, Reorder Paragraph, Multiple Choice Multiple Answer, Multiple
  Choice Single Answer.</p>

<h4>Wrting:</h4>
<p>Summarize Written Text, Write Essay.</p>

<h4>Listening:</h4>
<p>Summarize Spoken Text, Multiple Choice Multiple Answer, Multiple Choice Single Answer, Highlight Incorrect Word, Fill
  in the Blanks, Write from Dictation, Select Missing Word, Highlight Correct Summary</p>