/* You can add global styles to this file, and also import other style files */

@import 'src/variable';


html, body { height: 100%; margin: 0; padding: 0 }
  body {
    background: url('assets/img/bg.jpg') no-repeat fixed top center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  h1,h2,h3,h4,h5 {
    margin-bottom: 0.8em;
  }
  a {cursor: pointer; color: $link; text-decoration: none;}
  a.link-with-icon {
    vertical-align: top; 
    display: flex;
    mat-icon {
      margin-right: 10px;
    } 
  }
.container {width: 1280px; margin: 0 auto 20px;}
p { line-height: 1.4em;}
.main-para {font-size: 18px; line-height: 1.8em;}
.red-highlight {color: $red }
.no-margin-top {margin-top: 0}
.global-padding {
  padding: 16px;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.global-padding-top {
  padding-top: 16px;
}
.global-padding-bottom {
  padding-bottom: 16px;
}
mat-tab-group.landing-tabs {
  .mat-tab-header, .mat-tab-nav-bar {
    border: none;
    .mat-tab-labels {
      background-color: $grey;
      border-radius: 15px;
      padding: 4px;
      border: 1px solid rgba(100, 100, 100, 0.1);
      height: 35px;
      
      .mat-tab-label {
        height: 36px;
        width: 33.339%;
        position: relative;
        z-index: 100;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }  
  .mat-tab-label-active {
    background-color: none;
   
  }
}
.mat-tab-group.mat-primary.landing-tabs .mat-ink-bar, .landing-tabs .mat-tab-nav-bar.mat-primary .mat-ink-bar {
      background-color: #fff;
      border-radius: 13px;
      height: 38px;
      border:none;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 4px 0 rgba(0, 0, 0, 0.19);
      z-index: 0;
      bottom: 3px;
    }
